head
   include headFrag
   
   script(src='/api/ContactVM.js'  type="module")
   
body

   pg-custel 
      p Table:
      div

      #contactLst
         table.table
            thead
               th FName
                 ioR, ioW, fsR, fsW, openMax, openAlloc,
         nicR, nicT, memFree, memUsed, swapUsed, swapFree,
         cpu, cpiIdle
         
               th LName
               th Email
               th Date
            tbody.list

      script(type='module' src='/boxesScreen/pg-custel.js')  // slot
