head
   include headFrag
   
   script(src='/api/ContactVM.js'  type="module")
   
body

   pg-custel 
      p Table:
      div

      #contactLst
         table.table
            thead
               th cpu 
               th memUsed 
               th nicR 
               th nicT
               th dateTime
            tbody.list

      script(type='module' src='/boxesScreen/pg-custel.js')  // slot
