head
   script(src='gmetrics.js')

   script.
      console.info('pg')

   link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/INTUITION-dev/intuDesignWork@v1.0.5/src/css/main.css')

body
   p oh hi
